################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAPT/bin
/GAPT/obj
/packages
/.vs
/GAPT.csproj.user
